<launch>
	<rosparam command="load" file="$(find move3d_facts)/Parameters/ComputedFacts.yaml" />

    <env name="ROSCONSOLE_CONFIG_FILE" 
    value="$(find move3d_facts)/launch/debug_console.conf"/>

        <node name="move3d_facts" pkg="move3d_facts" type="move3d_facts" output="screen" launch-prefix="valgrind -v"/>  <!-- Launch the move3dfacts node -->
</launch>
